<footer class="store-footer">
  <div class="store-footer__wrap">
    <section>
      <h3 class="footer-failory-name">Online Club</h3>
      <p class="footer-description-failory">A simple, fast online store for phones, vehicles, and laptops.</p>
    </section>

    <section>
      <h3 class="footer-titles">Shop</h3>
      <p class="footer-links">
        <a routerLink="phone" class="footer-link">Phone</a>
        <a routerLink="vehicle" class="footer-link">Vehicle</a>
        <a routerLink="laptop" class="footer-link">Laptop</a>
      </p>
    </section>

    <section>
      <h3 class="footer-titles">Support</h3>
      <p class="footer-links">
        <a routerLink="contact" class="footer-link">Contact Us</a>
        <a routerLink="about" class="footer-link">About Us</a>
        <a routerLink="#" (click)="logout($event)" class="footer-link">Logout</a>
      </p>
    </section>

    <section>
      <h3 class="footer-titles">Follow Us</h3>
      <div class="footer-social-links">
        <a href="#" class="footer-social-network-icons" aria-label="Twitter"><img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dbf0a2f2b67e3b3ba079c_Twitter%20Icon.svg" width="20" alt="Twitter icon"></a>
        <a href="#" class="footer-social-network-icons" aria-label="Instagram"><img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dbfe70fcf5a0514c5b1da_Instagram%20Icon.svg" width="20" alt="Instagram icon"></a>
        <a href="#" class="footer-social-network-icons" aria-label="Facebook"><img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dbe42e1e6034fdaba46f6_Facebook%20Icon.svg" width="20" alt="Facebook icon"></a>
      </div>
      <p class="footer-description">Email: <strong class="link-email-footer">onlinestore@gmail.com</strong></p>
      <p class="footer-description">Contact: <strong>0713966621</strong></p>
    </section>
  </div>
</footer>


<!--<img src="assets/logo/logo.png" alt="" width="40" class="failory-logo-image">-->
