<app-navbar></app-navbar>
<mat-sidenav-container class="app-shell justify-content-center">
  <mat-sidenav mode="over" [opened]="navService.getSideNavState()" class="app-sidenav bg-light">
    <div class="px-md-3 py-2">
      <mat-nav-list>
        <mat-list-item routerLink="phone">
          <mat-icon>smartphone</mat-icon>
          <span class="menu-label">Phone</span>
        </mat-list-item>
        <mat-list-item routerLink="vehicle">
          <mat-icon>directions_car</mat-icon>
          <span class="menu-label">Vehicle</span>
        </mat-list-item>
        <mat-list-item routerLink="laptop">
          <mat-icon>laptop</mat-icon>
          <span class="menu-label">Laptop</span>
        </mat-list-item>
      </mat-nav-list>

      <span class="navbar-text">
      <span class="example-spacer"></span>
      <a mat-icon-button class="example-icon" routerLink="login" *ngIf="!loggedIn">
        <mat-icon>login</mat-icon>

      </a>
      <a mat-icon-button class="example-icon" href="#" (click)="logout($event)"  *ngIf="loggedIn">
        <mat-icon>logout</mat-icon>

      </a>

      <a mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" *ngIf="loggedIn">
        <mat-icon>account_circle</mat-icon>
        <mat-menu #menu="matMenu" yPosition="above">
          <button mat-menu-item  *ngIf="loggedIn" routerLink="home"> Home </button>
          <button mat-menu-item  *ngIf="loggedIn" routerLink="profile"> Account Details </button>
          <button mat-menu-item  *ngIf="loggedIn" routerLink="about"> About Us </button>
          <button mat-menu-item  *ngIf="loggedIn" routerLink="contact"> Contact Us </button>
          <button mat-menu-item  *ngIf="loggedIn" routerLink="#" (click)="logout($event)"> Logout </button>
        </mat-menu>
      </a>
      <a mat-icon-button class="example-icon" href="#"  routerLink="cart" *ngIf="loggedIn">
        <mat-icon>shopping_cart</mat-icon>

      </a>

      </span>


    </div>
  </mat-sidenav>
  <mat-sidenav-content class="app-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


<app-footer></app-footer>
