<nav class="navbar navbar-expand-lg store-navbar">
  <div class="container-fluid navbar-shell">
    <button mat-button routerLink="/home" class="logo-btn" aria-label="Go to home">
      <img src="assets/logo/logo.png" alt="Online Club logo">
      <span class="brand-text">Online Club</span>
    </button>

    <button mat-icon-button class="menu-btn" (click)="toggleSideNav()" *ngIf="loggedIn && isMenuOpen" aria-label="Open menu">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="collapse navbar-collapse nav-content" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-links">
        <li class="nav-item"><a class="nav-link" *ngIf="loggedIn" routerLink="home">Home</a></li>
        <li class="nav-item"><a class="nav-link" *ngIf="loggedIn" routerLink="phone">Phone</a></li>
        <li class="nav-item"><a class="nav-link" *ngIf="loggedIn" routerLink="vehicle">Vehicle</a></li>
        <li class="nav-item"><a class="nav-link" *ngIf="loggedIn" routerLink="laptop">Laptop</a></li>
        <li class="nav-item"><a class="nav-link" *ngIf="loggedIn" routerLink="about">About</a></li>
      </ul>

      <span class="navbar-text nav-actions">
        <a mat-icon-button class="example-icon" routerLink="login" *ngIf="!loggedIn" aria-label="Login">
          <mat-icon>login</mat-icon>
        </a>
        <a mat-icon-button class="example-icon" href="#" (click)="logout($event)" *ngIf="loggedIn" aria-label="Logout">
          <mat-icon>logout</mat-icon>
        </a>
        <a mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" *ngIf="loggedIn" aria-label="Account menu">
          <mat-icon>account_circle</mat-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="loggedIn" routerLink="home">Home</button>
            <button mat-menu-item *ngIf="loggedIn" routerLink="profile">Account Details</button>
            <button mat-menu-item *ngIf="loggedIn" routerLink="about">About Us</button>
            <button mat-menu-item *ngIf="loggedIn" routerLink="contact">Contact Us</button>
            <button mat-menu-item *ngIf="loggedIn" routerLink="#" (click)="logout($event)">Logout</button>
          </mat-menu>
        </a>
        <a mat-icon-button class="example-icon" routerLink="cart" *ngIf="loggedIn" aria-label="Cart">
          <mat-icon>shopping_cart</mat-icon>
          <span *ngIf="cartCount > 0" class="cart-badge">{{ cartCount }}</span>
        </a>
      </span>
    </div>
  </div>
